// COLORS
$body-color: #f9f9f9;
$h2-color: #353535;
$para-color: #757575;
$a-color: #202020;
$green-color: #29ca8e;
$white-color: #ffffff;
$overlay-color: #536976;
$dark-grey: #292e49;
$lite-white: #f0f0f0;
$lite-grey: #999999;
$smoke-grey: #d9d9d9;
$sub-grey: #f8f8f8;
$border-color: #ddd;
$black-color: black;
$moderate-grey: #ccc;
