* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #ececec;
}

h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

.text-center {
  text-align: center;
}

h2 {
  line-height: 50px;
}
h3 {
  line-height: 30px;
  padding: 5px;
}
h4 {
  padding-top: 5px;
  line-height: 30px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 900;
}

p {
  font-weight: 300;
  line-height: 30px;
}

.g-pad-bottom {
  padding-bottom: 40px;
}

section {
  padding-top: 40px;
  margin-top: 50px;
}

.c-sts {
  background-color: #d9534f;
  color: #fff;
}

.pad-top {
  padding-top: 20px;
}
.icon-round {
  margin-top: 30px;
  font-size: 60px;
  height: 128px;
  width: 128px;
  line-height: 130px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}
.bk-color-red {
  background-color: green;
}

.bk-color-green {
  background-color: white;
}

.bk-color-light-blue {
  background-color: orangered;
}

.bk-color-blue {
  background-color: #0052ff;
}
.bk-color-brown {
  background-color: #eb8f2d;
}
.bk-color-black {
  background-color: red;
}

/*=======================================
BOOTSTRAP STYLES
==================================================*/

.panel-heading {
  font-size: 25px;
  font-weight: 900;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.btn-lg > .btn {
  border-radius: 0px;
}

/* ===========================================================
NAVBAR CHANGES   
============================================================*/
.navbar {
  font-size: 14px;
}

.navbar-inverse {
  background-color: #232b2b;
  border-bottom: 2px solid white;
}

.navbar-inverse .navbar-nav > .active > a {
  background: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-weight: bolder;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

/*=======================================
HOME SECTION STYLES
==================================================*/

#home-sec {
  padding-top: 100px;
  background: url(../img/2.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  min-height: 650px;
  color: #fff;
}
.head-main {
  font-size: 65px;
  font-weight: 900;
}

/*=======================================
STATS SECTION STYLES
==================================================*/

#sts-img {
  padding-bottom: 50px;
  background: url(../img/3.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  min-height: 200px;
  color: #fff;
}
.stats-div {
  text-align: center;
  width: 100%;
}

.stats-div > h3 {
  font-size: 40px;
  font-weight: 900;
}

/*=======================================
PRICE SECTION STYLES
==================================================*/

.plan {
  background: #fff;
  padding: 0 0 15px 0;
  margin: 30px 0px;
  list-style: none;
  text-align: center;
}

.plan li {
  padding: 15px 0px;
  color: #000000;
  font-size: 15px;
}

.plan li.plan-head {
  padding: 15px 0px;
  color: #ffffff;
  line-height: 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.plan li.main-price {
  padding: 15px 0px;
  background-color: rgba(127, 115, 177, 1);
  color: #fff;
  border: none;
  font-weight: 900;
  font-size: 30px;
}

/*=======================================
FOOTER STYLES
==================================================*/

#footer {
  background-color: #000;
  color: #fff;
  padding: 20px 50px 20px 50px;
  text-align: right;
}
