:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* navigation */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 16px;
}

.nav-list a {
  display: block;
  font-size: 18px;
  padding: 16px;
}

.nav-list a:hover {
  background: var(--main-blue);
}

@media (max-width: 460px) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 16px;
  }
}

/* welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section > p {
  font-size: 32px;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}
.welcome-section {
  text-align: center;
}
/* project section */
.projects-section {
  text-align: center;
  padding: 50px;
  background: var(--main-blue);
}

.projects-section-header {
  margin: 0 auto 50px auto;
}

@media (max-width: 460px) {
  .projects-section-header {
    font-size: 32px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 32px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.project {
  background: var(--main-gray);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 18px;
  padding: 16px;
}

.btn {
  display: inline-block;
  padding: 16px;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 20px;
  background: var(--main-gray);
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all > i {
  margin-left: 10px;
}

@media (max-width: 490px) {
  .projects-section {
    padding: 32px 16px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 0 32px;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 45px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 45px;
}

.contact-details {
  font-size: 16px;
}
@media (max-width: 460px) {
  .contact-section-header > h2 {
    font-size: 30px;
  }
}
/* footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 32px;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 32px;
}
