body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    font-family: "Handlee", cursive;
    background-image: url("https://www.walldevil.com/wallpapers/a56/night-star-sky-mountain-lake.jpg");
  }
  
  .box {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 57%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }
  
  .button {
    border: 0;
    background: none;
    width: 40%;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #2ecc71;
  }
  
  #txt {
    bottom: 28px;
    padding: 20px;
    color: white;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
  